<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
	<link rel="stylesheet" href="Lightbox/css/lc_lightbox.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="estilos.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8">
</head>
<body class="index">
	<div class="container">
		<div class="row">
			<div class="col s12 l8">
				<div class="row center-align loaderIndex">	
					<div class="preloader-wrapper big active">
						<div class="spinner-layer spinner-yellow-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div><div class="gap-patch">
								<div class="circle"></div>
							</div><div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="section center cImagen">
				</div>
			</div>
			<div class="col s12 l4">
				<div class="section">
					<div class="card-panel hide-on-med-and-down panelUsuario" id="ajusteCard">
						<div class="row center-align loaderIndex ld2">	
							<div class="preloader-wrapper big active">
								<div class="spinner-layer spinner-yellow-only">
									<div class="circle-clipper left">
										<div class="circle"></div>
									</div><div class="gap-patch">
										<div class="circle"></div>
									</div><div class="circle-clipper right">
										<div class="circle"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="uploadImg">
		<div class="modal-content">
			<div class="container">
				<h2 align="center">¡Sube imágenes!</h2>
				<p>Agrega un nombre y una descripción a tu imagen para identificarla en Igastran.</p>
				<form id="subirForm" enctype="multipart/form-data">
					<div class="row">						
						<div class="col s12">
							<div class="section">
								<div class="row">									
									<div class="input-field col s12 m6">
										<label for="nm">Nombre de la imagen</label>
										<input type="text" name="nombre" id="nm" required autocomplete="off">
									</div>
									<div class="input-field col s12 m6">
										<label for="desc">Breve descripción</label>
										<input type="text" name="descripcion" id="desc" required autocomplete="off">
									</div><br>
									<div class="file-field input-field col s12">
										<div class="btn amber">
											<span id="textoNegro">Buscar imagen</span>
											<input type="file" name="archivo" id="inputFile" required>
										</div>
										<div class="file-path-wrapper">
											<input class="file-path" type="text">
										</div>
									</div>
								</div>
								<div align="center">
									<button class ="waves-effect waves-light btn-large amber" id="btnSubir">Subir imagen</button>
									<div class="loaderUpload hide">
										<p style="float: left; margin-right: 1rem">Subiendo...</p>
										<div class="preloader-wrapper active">
											<div class="spinner-layer spinner-yellow-only">
												<div class="circle-clipper left">
													<div class="circle"></div>
												</div><div class="gap-patch">
													<div class="circle"></div>
												</div><div class="circle-clipper right">
													<div class="circle"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer class="page-footer brown darken-1 z-depth-2 footer">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h5>About</h5>
				</div>
			</div>
		</div>
		<div class="footer-copyright brown darken-3">
			<div class="container">
				© 2018 Igastran, derechos intelectualmente reservados.
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script src='Lightbox/js/lc_lightbox.lite.min.js' type='text/javascript'></script>
	<script type="text/javascript" src="scripts.js"></script>
</body>
</html>