<body>
	<div>
		<form action="/login" method="POST" enctype='application/json'>
			<input type="text" name="usuario_correo" placeholder="usuario o correo electr칩nico">
			<input type="text" name="password" placeholder="contrase침a">
			<button type="submit">login</button>
		</form>
	</div><br>
	<div>
		<form action="/registro" method="POST" enctype="application/json">
			<input type="text" name="nombre" placeholder="Nombre">
			<input type="text" name="apellidos" placeholder="Apellidos">
			<input type="text" name="usuario" placeholder="Usuario">
			<input type="text" name="correo" placeholder="Correo">
			<input type="text" name="password" placeholder="Contrase침a">
			<input type="text" name="passwordC" placeholder="Confirmar contrase침a">
			<button>Regitro</button>
		</form>
	</div>
</body>